<div id="main" class="site-main">


  <header class="page-header">
    <h1 class="page-title">ОБУЧЕНИЕ ЗА РУБЕЖОМ</h1>
  </header>

  <div id="primary" class="content-area">
    <div id="content" class="container" role="main">

      <article id="post-1598" class="post-1598 page type-page status-publish hentry">
        <div class="entry-content">
          <p>&nbsp;</p>

          <!-- start of Column Posts 1.3 column-posts/languages -->

          <script type="text/javascript">

              jQuery(document).ready(function($){
                  $(".alignthumb").width("60px");
                  $(".alignthumb").height("auto");
                  $("#cp-box .cp-box ul li a").css("color","#0072bc");
                  $("#cp-box .cp-box > ul").css("margin-left","0");
                  $("#cp-box .cp-box > ul").css("list-style","square outside");
              });

          </script>
          <div id="cp-box">

            <!-- start of Category Column Box-->
            <div class="cp-box two">
              <h3>Краткосрочные курсы/тренинги/стажировки за рубежом</h3><ul style="margin-left: 0px; list-style: outside none square;"><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/advanced-programme-in-law-and-economics-in-riga-latvia/" title="Article Advanced Programme in Law and Economics in Riga, Latvia published at 04.06.2015 06:51">Advanced Programme in Law and Economics in Riga, Latvia</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/2015-klaus-toepfer-fellowship-programme-in-nature-conservation-germany/" title="Article 2015 Klaus Toepfer Fellowship Programme in Nature Conservation, Germany published at 28.05.2015 17:36">2015 Klaus Toepfer Fellowship Programme in Nature Conservation, Germany</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/zmo-and-bgsmcs-visiting-research-fellowship-in-germany-2016/" title="Article ZMO and BGSMCS Visiting Research Fellowship in Germany, 2016 published at 28.05.2015 17:32">ZMO and BGSMCS Visiting Research Fellowship in Germany, 2016</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/the-world-bank-young-professionals-program/" title="Article The World Bank Young Professionals Program published at 26.05.2015 16:26">The World Bank Young Professionals Program</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b0-%d0%b4%d0%bb%d1%8f-%d0%bc%d0%be%d0%bb%d0%be%d0%b4%d1%8b%d1%85-%d1%81%d0%bf%d0%b5%d1%86%d0%b8%d0%b0%d0%bb%d0%b8%d1%81%d1%82%d0%be%d0%b2-%d0%be/" title="Article Программа для молодых специалистов ООН / Young UN professionals programme published at 21.05.2015 09:05">Программа для молодых специалистов ООН / Young UN professionals programme</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/interpol-internship-in-lyon/" title="Article Interpol Internship in Lyon published at 19.05.2015 21:51">Interpol Internship in Lyon</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/the-digital-communication-network-exchange-program-2015/" title="Article The Digital Communication Network Exchange Program, 2015 published at 19.05.2015 11:19">The Digital Communication Network Exchange Program, 2015</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/unescopoland-co-sponsored-fellowships-programme-in-engineering-2015/" title="Article UNESCO/POLAND Co-Sponsored Fellowships Programme in Engineering, 2015 published at 11.05.2015 12:57">UNESCO/POLAND Co-Sponsored Fellowships Programme in Engineering, 2015</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/fully-funded-itecscaap-international-training-programmes-2015-16/" title="Article Fully Funded ITEC/SCAAP International Training Programmes, 2015-16 published at 11.05.2015 12:46">Fully Funded ITEC/SCAAP International Training Programmes, 2015-16</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/paid-design-internship-online-marketing/" title="Article Paid Design Internship - Online Marketing published at 30.04.2015 16:57">Paid Design Internship - Online Marketing</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b0-%d0%b4%d0%b5%d0%bb%d0%be%d0%b2%d1%8b%d1%85-%d1%81%d1%82%d0%b0%d0%b6%d0%b8%d1%80%d0%be%d0%b2%d0%be%d0%ba-%d0%b2-%d1%81%d1%88%d0%b0/" title="Article Программа деловых стажировок в США published at 27.04.2015 17:18">Программа деловых стажировок в США</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/the-open-society-youth-fellowship/" title="Article The Open Society Youth Fellowship published at 24.04.2015 10:49">The Open Society Youth Fellowship</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/the-hubert-h-humphrey-fellowship-program-2/" title="Article The Hubert H. Humphrey Fellowship Program published at 19.04.2015 08:54">The Hubert H. Humphrey Fellowship Program</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/estonian-school-of-diplomacy-training-scholarship-program-in-estonia-2015-2016/" title="Article Estonian School of Diplomacy Training Scholarship Program in Estonia, 2015-2016 published at 16.04.2015 23:56">Estonian School of Diplomacy Training Scholarship Program in Estonia, 2015-2016</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/youth-time-summer-school-for-journalists-2015/" title="Article " youth="" time"="" summer="" school="" for="" journalists="" 2015="" published="" at="" 14.04.2015="" 10:48"="">"Youth Time" Summer School for Journalists 2015</a></li></ul></div>
            <!-- end of Category Column Box-->

            <!-- start of Category Column Box-->
            <div class="cp-box two">
              <h3>Магистратура за рубежом</h3><ul style="margin-left: 0px; list-style: outside none square;"><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/adb-japan-scholarship-program-2015-2016/" title="Article ADB - Japan Scholarship Program 2015-2016 published at 05.06.2015 08:43">ADB - Japan Scholarship Program 2015-2016</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/master-of-laws-llm-scholarship-at-university-of-queensland-in-australia-2015/" title="Article Master of Laws (LLM) Scholarship at University of Queensland in Australia, 2015 published at 25.05.2015 15:23">Master of Laws (LLM) Scholarship at University of Queensland in Australia, 2015</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/2016-japanese-government-monbukagakushomext-scholarships-for-foreign-undergraduate-students-japan/" title="Article 2016 Japanese Government (Monbukagakusho:MEXT) Scholarships for Foreign Undergraduate Students, Japan published at 21.05.2015 11:36">2016 Japanese Government (Monbukagakusho:MEXT) Scholarships for Foreign Undergraduate Students, Japan</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/2016-master-scholarship-in-human-rights-and-conflict-management-italy/" title="Article 2016 Master Scholarship in Human Rights and Conflict Management, Italy published at 21.05.2015 11:19">2016 Master Scholarship in Human Rights and Conflict Management, Italy</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/young-leaders-program-ylp-for-masters-students-in-japan-2016/" title="Article Young Leaders’ Program (YLP) for Master’s Students in Japan, 2015 - 2016 published at 19.05.2015 10:27">Young Leaders’ Program (YLP) for Master’s Students in Japan, 2015 - 2016</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/edhec-global-mba-scholarships-for-international-students-in-france-2015/" title="Article EDHEC Global MBA Scholarships for International Students in France, 2015 published at 11.05.2015 12:35">EDHEC Global MBA Scholarships for International Students in France, 2015</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/nestle-scholarship-for-women-at-imd-in-switzerland-2016/" title="Article Nestlé Scholarship for Women at IMD in Switzerland, 2016 published at 30.04.2015 11:14">Nestlé Scholarship for Women at IMD in Switzerland, 2016</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/3ie-scholarship-for-developing-countries-at-university-of-east-anglia-in-uk-2015-2/" title="Article 3ie Scholarship for Developing Countries at University of East Anglia in UK, 2015 published at 23.04.2015 14:53">3ie Scholarship for Developing Countries at University of East Anglia in UK, 2015</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/asian-peacebuilders-scholarship-aps-program-for-masters-students-2015-2016/" title="Article Asian Peacebuilders Scholarship (APS) Program for Master’s Students, 2015-2016 published at 19.04.2015 10:08">Asian Peacebuilders Scholarship (APS) Program for Master’s Students, 2015-2016</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/daad-scholarship-for-students-from-developing-countries/" title="Article DAAD Scholarship for Students from Developing Countries published at 13.04.2015 10:33">DAAD Scholarship for Students from Developing Countries</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/the-asian-development-bank-adb-japan-scholarship-program-jsp-2015-2016/" title="Article The Asian Development Bank (ADB) – Japan Scholarship Program (JSP) 2015 - 2016 published at 05.04.2015 22:57">The Asian Development Bank (ADB) – Japan Scholarship Program (JSP) 2015 - 2016</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/barcelona-gse-master-scholarships-in-spain-2015/" title="Article Barcelona GSE Master Scholarships in Spain, 2015 published at 05.04.2015 22:44">Barcelona GSE Master Scholarships in Spain, 2015</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/scholarships-for-masters-studies-in-universite-paris-saclay-france-20152016/" title="Article Scholarships for Master's Studies in Université Paris-Saclay, France 2015/2016 published at 05.04.2015 22:35">Scholarships for Master's Studies in Université Paris-Saclay, France 2015/2016</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/master-programmes-in-political-science-at-the-university-of-tartu-20152016/" title="Article Master Programmes in Political Science at the University of Tartu 2015/2016 published at 05.04.2015 22:30">Master Programmes in Political Science at the University of Tartu 2015/2016</a></li><li><a style="color: rgb(0, 114, 188);" href="http://employment.kg/tokyo-international-university-tiu-english-track-degree-program/" title="Article Tokyo International University (TIU)&nbsp;English Track Degree Program published at 03.04.2015 08:42">Tokyo International University (TIU)&nbsp;English Track Degree Program</a></li></ul></div>
            <!-- end of Category Column Box-->
            <div class="clear"></div>
          </div>
          <!-- end of Column Posts 1.3-->

        </div>
      </article><!-- #post -->
      <div class="row">
        <div id="comments" class="comments-area col-md-9 col-md-offset-3">



        </div><!-- #comments -->
      </div>		</div><!-- #content -->

    <div class="paginate-links container">
    </div>
  </div><!-- #primary -->



</div>
